#container{
    bottom: 50%;
    margin-top: 10%;
    margin-left: 20%;

}


#container1{
    float: right;
    margin-top: 10px;
    width: 70%;
    height: 10px;
    

}


#container2{
    padding-right: 50%;
    margin: right 20px;
    
    

    

}






    


